body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.creative{
  color: rgba(0, 0, 255, 0.575);
}

h1{
  text-align: center;
}

.card{
  width: 45%;
  margin-bottom: 50px;
}

.tile-image{
  float: left;
  margin-right: 50px;
  height: 200px;
  width: 300px;
}

.project2{
  float: right;
}

.project4{
  float: right;
}

.project1{
  float: left;
}

.project3{
  float: left;
}

@media (max-width:1200px){
  .logo{
    width: 100px;
  }
  h1{
    font-size: 3.5rem;
  }
  .card{
    display: block;
    width: 100%;
    text-align: justify;
  }

  .card .tile-image {
    margin-bottom: 20px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}